@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    background-color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
}

#paper {
    background-color: white;
    width: 100%;
    margin: 0 auto;
    height: 100%;

}

#pattern {
    height: 100%;
}

#content {
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}

.title { 
    font-family: 'Audiowide', sans-serif;
    font-size: 5rem;
    color: #222;
    position: absolute;
    width: 100%;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 2px 2px 4px rgba(77, 74, 255, 0.2);
}

.cassette-shelf {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45%;
}

.cassette-box {
    position: relative;
    z-index: 1;
    width: 78px; 
    height: 170%;
}

.cassette-link {
    display: block;
    width: 100%;
    height: 100%;
}

.cassette-shelf img {
    position: absolute; 
    left: -211px; 
    top: 0;
    width: 500px;
    height: auto;
    transition: top 0.3s ease;
    pointer-events: none; 
}

.cassette-box:hover {
    z-index: 2;
}

.cassette-box:hover img {
    top: -20px;
}

.hitbox {
    display: none;
}