* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Prevent scrolling */
}

body {
    background-color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

#paper {
    background-color: white;
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

#pattern {
    height: 100%;
}

#content {
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}

.cassette-shelf {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45%;
}

.cassette-shelf img {
    width: 500px; 
    height: auto;
    margin: 0 -211px;
}